@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root{
    --brand-light: #F67841;
    --brand-mid: #F3541C;
    --brand-dark: #E43A12;

    --text-primary: #292524;
    --text-secondary: #292524;
    --text-tertiary: #8F8881;
    --text-highlight: #E43A12;
    --semantic-error: #DC2626; 

    --surface-primary: #FFFFFF;
    --surface-secondary: #FEE7D6;
    --surface-disabled: #E7E5E4;

    --stroke-default: #D6D3D1;
    --stroke-highlight: #F3541C;

    --orange: #F9A474;
    --yellow: #FEDF6F;
    --green: #C7D78D;
    --blue: #B8CEDC;
    --violet: #C3B2E7;
    --pink: #F682A5;

    --font-family:"Poppins", sans-serif;
    --text-el: 700 2rem/1.2 var(--font-family);
    --text-lg: 700 1.5rem/1.2 var(--font-family);
    --text-md: 700 1.25rem/1.2 var(--font-family);
    /* --text-sm: 700 1rem/1.2 var(--font-family); */

    --text: 400 1rem/1.5 var(--font-family);
    --text-sm: 400 0.875rem/1.4 var(--font-family);
}

body{
    overflow: hidden;
    font: var(--text);
    color: var(--text-secondary);
}

h1,h2{
    color: var(--text-primary);
}
